.navbar-nav .nav-link {
  color: #555;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-link.active {
  color: #0d6efd;
}

.navbar-icons .nav-link {
    font-size: 1.2rem;
}
.nav-link-login,
.nav-link-logout {
  color: #0d6efd;
  font-weight: 500;
}

.btn-login-style {
  background-color: #e7f1ff;
  border-color: transparent;
}

.btn-login-style:hover {
  background-color: #cfe2ff;
  color: #0a58ca;
}

.nav-link-logout:hover {
  color: #0a58ca; 
}

.login-page-wrapper {
  min-height: calc(100vh - 57px); /* Navbar'ın yüksekliğini hesaptan düşerek tam ekran kaplamasını sağlıyoruz */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
}
